*{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
/*导航部分*/
.nav{
    width: 100%;
    height: 80px;
    background: #ffffff;
    padding: 0 15px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 9999;
}
.nav .contain{
    width: 100%;
    height: 100%;
    /*background: red;*/
    display: flex;
}
.nav .contain a .pic{
    width: 137px;
    height: 80px;
    /*background: greenyellow;*/
}
.nav .contain a .pic img{
    width: 80px;
    height: 70px;
}
.nav .navBox{
    display: flex;
    flex-grow: 1;
    /*background: #0a7ec1;*/
    justify-content: flex-end;
    align-items: center;
}
.navBox .line{
    display: block;
    width: 112px;
    height: 30px;
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.navBox .line a {
    width:auto;
    height: 30px;
    font-size: 14px;
    color: #333333;
}
.active{
    border-bottom: 1px solid #333333;
}
.navBox .line:nth-child(4) a{
    border-bottom: 1px solid #333333;
}

/*banner*/
.serBanner{
    width: 100%;
    height: 430px;
    background-image: url("../img/servers/serBanner.jpg");
    background-position: center;
    background-size: cover;
    padding: 100px 50px;
    box-sizing: border-box;
}

/*content*/
.content{
    width: 1290px;
    height: 820px;
    background: pink;
    margin: 0 auto;
    /*padding: 50px 100px;*/
    /*box-sizing: border-box;*/
}
.content .contentTop{
    width: 100%;
    height: 82px;
    background: deeppink;
    overflow: hidden;
    /*padding-left: 30px;*/
    /*box-sizing: border-box;*/
}
.content .contentTop .textTop{
    width: 100%;
    height: 32px;
    font-size: 22px;
    line-height: 32px;
    margin-top: 15px;

}
.content .contentTop .textBottom{
    width: 100%;
    height:18px ;
}

.content .contentBottom{
    width: 100%;
    height: 718px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*background: greenyellow;*/

}
.content .contentBottom .contentBox{
    width: 380px;
    height: 265px;
    background: yellow;
    float: left;
    /*padding: 0 30px;*/
    /*box-sizing: border-box;*/
}
.content .contentBottom .contentBox .boxIcon{
    width: 50px;
    height: 50px;
    margin-top: 30px;
    /*background: #0a7ec1;*/
    /*background-image: url("../img/servers/tubiao1.png");*/
    /*background-position: center;*/
    /*background-size: cover;*/
}
.content .contentBottom .contentBox:nth-child(1) .boxIcon{
    background-image: url("../img/servers/tubiao1.png");
    background-position: center;
    background-size: cover;
}
.content .contentBottom .contentBox:nth-child(2) .boxIcon{
     background-image: url("../img/servers/tubiao2.png");
     background-position: center;
     background-size: cover;
 }
.content .contentBottom .contentBox:nth-child(3) .boxIcon{
    background-image: url("../img/servers/tubiao3.png");
    background-position: center;
    background-size: cover;
}
.content .contentBottom .contentBox:nth-child(4) .boxIcon{
    background-image: url("../img/servers/tubiao4.png");
    background-position: center;
    background-size: cover;
}
.content .contentBottom .contentBox:nth-child(5) .boxIcon{
    background-image: url("../img/servers/tubiao5.png");
    background-position: center;
    background-size: cover;
}
.content .contentBottom .contentBox .boxBottom .boxTittle{
    width: 100%;
    height:22px ;
    /*background: red;*/
    margin-top: 30px;
    /*border-bottom: 1px solid #333333;*/
}
.content .contentBottom .contentBox .boxBottom .boxTittle p{
    height: 22px;
    float: left;
    /*background: #0a7ec1;*/
}
.content .contentBottom .contentBox .boxBottom .boxTittle .p1{
    font-size: 18px;
    margin-right: 15px;
    line-height: 22px;
}
.content .contentBottom .contentBox .boxBottom .boxTittle .p2{
    font-size: 14px;
    line-height: 22px;
}
.content .contentBottom .contentBox .boxBottom .boxLine{
    width: 100%;
    height: 1px;
    background: #999999;
    margin-top: 10px;
}
.content .contentBottom .contentBox .boxBottom .boxDir{
    width: 100%;
    height: 60px;
    margin-top: 40px;
    /*background: greenyellow;*/
    font-size: 14px;
    color: #999999;
}
/*footer*/
footer{
    width: 100%;
    height: 85px;
    background: #333333;
    margin-top: 100px;
}
footer .neikuan{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 85px;
}